*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.main-Menu,
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 10px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
}

#timerValue{
    color:red;
    font-weight: bold;
}

header,
p,
h1{
    font-size: 2.3rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.highScore{
    display: flex;
    justify-content: space-evenly;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;  
    justify-content: center;
    align-items: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(auto);
    gap:15px;
    margin: 20px 0;

}

.btn{
    background-color: #f4f4f4;
    border-radius: 10px;
    border-color: rgba(251,54,94,1);
    padding: 5px 10px;
    outline: none;
}

.btn:hover{
    border-color: #00b7ff;
}

.btn .correct{
    background-color: #7ecf06;
}

.btn .wrong{
    background-color: #700000;
}

.start-btn, .next-btn{
    background: rgb(219,187,106);
    background: radial-gradient(circle, rgba(219,187,106,1) 0%, rgba(251,54,94,1) 100%);
    font-size:1.5rem;
    font-weight:bold;
    color: white;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}